@model CustomerReport.Models.Customer

@{
    ViewBag.Title = "Home";
}

<h2>Menu</h2>

<p>
    @Html.ActionLink("CUSTOMER ENTRY", "Create")
</p>

<div>
    @Html.ActionLink("CUSTOMER REPORT", "Index")
</div>

